body {
  margin: 0;
  background-color: #242526;
  color: white;
  font-family: "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}